<section class="container section p-c-l p-c-r">
  <hr/>
  <div class="text-container m-t-m m-b-s">
    <span class="prev">
      <a href="<%=prevPage.href%>"><- <%=prevPage.text%></a>
    </span>
    <span class="next">
      <a href="<%=pnextPage.href%>"> <%=pnextPage.text%>-></a>
    </span>
  </div>
</section>