<section class="filter-container">
  <h2 class="subtitle is-6">全部</h2>
  <div class="tag-container">
    <span>
      按最新
      <i class="fas fa-caret-down"></i>
    </span>
    |
    <span>
      按价格
      <i class="fas fa-sort"></i>
    </span>
  </div>
</section>