<section class="section service-banner">
  <div class="container">
    <%- include('../../../../../component/nav/sub-nav') %>
    <span class="tag is-danger m-t-l">服务</span>
    <p class="banner-text"><%=bannerText%></p>
  </div>
</section>