<header>
  <section class="container header">
    <span class="header-item">
      <i class="fas fa-phone-volume"></i>
      021-64080078
    </span>
    <span class="header-item">
      <i class="far fa-envelope"></i>
      sales@tolobio.com
    </span>
    <div class="header-right">
      <a href="#"><i class="fas fa-search"></i></a>
      <a href="#"><i class="fas fa-user"></i></a>
      <a href="#"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </section>
</header>