<header>
  <section class="container header">
    <span class="header-item">
      <i class="fas fa-phone-volume"></i>
       <%=call%>
    </span>
    <span class="header-item">
      <i class="far fa-envelope"></i>
      <%=mail%>
    </span>
    <div class="header-right">
      <a href="#"><i class="fas fa-search"></i></a>
      <a href="#"><i class="fas fa-user"></i></a>
      <a href="#" class="badge is-badge-danger"  data-badge="88"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </section>
</header>