<nav class="level">
  <figure>
    <a href="/index">
      <img src="/static/brand1.png" alt="吐露生物科技"/>
    </a>
  </figure>
  <div class="level-right">
    <p class="level-item">
      <a href="/products">产品</a>
    </p>
    <p class="level-item">
      <a href="#">服务</a>
    </p>
    <p class="level-item">
      <a href="#">解决方案</a>
    </p>
    <p class="level-item">
      <a href="#">下载</a>
    </p>
    <p class="level-item">
      <a href="#">资讯</a>
    </p>
    <p class="level-item">
      <a href="#">关于我们</a>
    </p>
  </div>
</nav>
