<section class="section footer-container">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <div class="footer-info">
          <figure class="footer-logo">
            <img src="/static/logo-white.png" class="image"/>
          </figure>
          <div>
            <p class="description">
              <%=footerDescription%>
            </p>
            <div class="m-t-s address">
              <span>
                <i class="fa fa-map-marker"></i>
                <%=address%>
              </span>
              <span>
                <i class="fa fa-phone-volume"></i>
                <%=call%>
              </span>
              <span>
                <i class="fa fa-envelope"></i>
                <%=mail%>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4 p-c-b p-c-t">
        <div class="ecode-container">
          <p class="m-b-s">关注我们</p>
          <div class="ecode-image">
            <img class="m-r-s" src="/static/ecode.png"/>
            <img src="/static/ecode.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>