<section class="m-b-l">
  <div class="container">
    <div class="tabs is-medium">
      <ul id="product-toggle">
        <li class="is-active">
          <a data-target="product-info">产品详情</a>
        </li>
        <li>
          <a data-target="product-comment">评论(<%=productComment.total%>)</a>
        </li>
      </ul>
    </div>
    <div>
      <div id="product-info" class="is-visible">
        <%- include('../../../../../component/product-detail-info/index', productDetailInfo) %>
      </div>
      <div id="product-comment" class="is-hidden">
        <%- include('../../../../../component/product-comment/index', productComment) %>
      </div>
    </div>
  </div>
</section>