<section class="container">
  <div class="news-title-container">
    <figure>
      <img src="<%=newsTitleImg%>" alt="吐露科技生态"/> 
    </figure>
    <div class="info">
      <span><%=newsDate%></span>
      <h2 class="subtitle is-5 m-t-m"><%=title%></h2>
      <div class="share-container m-c-l m-c-r text-left">
          <span>分享到:</span>
          <a href="#"><i class="fab fa-weixin"></i></a>
          <a href="#"><i class="fab fa-weibo"></i></a>
        </div>
    </div>
  </div>
</section>