<section class="section section-bg-gray p-c-b">
  <div class="container">
    <div class="has-text-centered ">
      <h1 class="title"><%= lastedServce.title %></h1>
      <p class="subTitle"><%= lastedServce.content %></p>
    </div>
    <div class='carousel m-t-l is-3 carousel-animated carousel-animate-slide'>
      <div class='carousel-container'>
        <% for(var i = 0;i<lastedServce.serviceProductes.length;i++){ %>
          <div class='carousel-item'>
            <p><%=lastedServce.serviceProductes[i].desc%></p>
            <figure class="image">
              <img src="<%=lastedServce.serviceProductes[i].imageUri%>">
            </figure>
          </div>
        <%}%>
      </div>
      <div class="carousel-navigation is-centered">
        <div class="carousel-nav-left">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="carousel-nav-right">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</section>