<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Tolo company.">
  <meta name="description" content="Tolo">
  <meta name="robots" content="index">
  <meta name="robots" content="follow">
  <meta name=”apple-mobile-web-app-capable” content=”yes” />
  <meta name="apple-mobile-web-app-status-bar-style" content="default | black | black-translucent" />
  <meta content="telephone=no" name="format-detection" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css'/>
  <link rel="stylesheet" href='<%=cssSrc%>'/>
  <script src="//use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>