<section class="container section">
  <div class="columns flex-wrap">
    <div class="column is-2">
    <%- include('../operation-panel/index' , { filterList, productTable })%>
    </div>
    <div class="column is-10">
      <%- include('../product-list/index.ejs' , productList)%>
    </div>
  </div>
</section>