
@large: 2rem;
@mdeium: 1.5rem;
@small: 1rem;
@xs: .5rem;

a{
  color: @primary-color;
}

.button.is-width{
  padding-left: 2.7rem;
  padding-right: 2.7rem;
}

.m-t-l{
  margin-top: @large;
}
.m-t-m{
  margin-top: @mdeium;
}
.m-t-s{
  margin-top: @small;
}
.m-t-xs{
  margin-top: @xs;
}
.m-b-l{
  margin-bottom: @large;
}
.m-b-m{
  margin-bottom: @mdeium;
}
.m-b-s{
  margin-bottom: @small;
}
.m-b-xs{
  margin-bottom: @xs;
}
.m-l-l{
  margin-left: @large;
}
.m-l-m{
  margin-left: @mdeium;
}
.m-l-s{
  margin-left: @small;
}
.m-l-xs{
  margin-left: @xs;
}
.m-r-l{
  margin-right: @large;
}
.m-r-m{
  margin-right: @mdeium;
}
.m-r-s{
  margin-right: @small;
}
.m-r-xs{
  margin-right: @xs;
}

.m-c-t{
  margin-top: initial;
}
.m-c-l{
  margin-left: initial;
}
.m-c-r{
  margin-right: initial;
}
.m-c-b{
  margin-bottom: initial;
}
.p-c-t{
  padding-top: initial;
}
.p-c-l{
  padding-left: initial;
}
.p-c-t{
  padding-right: initial;
}
.p-c-b{
  padding-bottom: initial;
}
.subTitle{
  max-width: 800px;
  overflow: hidden;
  white-space: pre-wrap;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 1.15rem;
  line-height: 2rem;
}